{% extends "transport_goods/layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers for this task
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Tell the public about your application
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Advertise you plans to transport goods
        </td>
        <td>
          {{ data.given_public_notice }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <div class="form-group">
    <a href="/transport_goods/task_list/describe_vehicles/has_vehicles_already{{formQuery}}" class="button">Continue to next task: list your vehicles</a>
  </div>

  <a href="/transport_goods/task_list{{formQuery}}">Return to task list</a>

</main>

{% endblock %}
