{% extends "transport_goods/layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers for this section
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Check before you start
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Weight when empty:
        </td>
        <td>
          {{ data.weight_empty }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.weight_empty=="less than 1,525 kg" %}
        <tr>
          <td>
            Weight when loaded:
          </td>
          <td>
            {{ data.weight_loaded }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Operating exempt vehicles:
        </td>
        <td>
          {{ data.exempt_vehicles }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Carrying passengers:
        </td>
        <td>
          {{ data.carrying_passengers }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Trade plates:
        </td>
        <td>
          {{ data.trade_plates }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Carrying passengers:
        </td>
        <td>
          {{ data.carrying_passengers }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Trade plates:
        </td>
        <td>
          {{ data.trade_plates }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Less than 6 miles a week:
        </td>
        <td>
          {{ data.six_miles_a_week }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.six_miles_a_week=="yes" %}
        <tr>
          <td>
            Digging and demolition vehicles:
          </td>
          <td>
            {{ data.digging_demolition }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.digging_demolition=="no" %}
        <tr>
          <td>
            Own private parking:
          </td>
          <td>
            {{ data.same_owner }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      </tr> 
        <td>
          Transporting just your goods:
        </td>
        <td>
          {{ data.just_your_goods }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.just_your_goods=="no" %}
        </tr> 
          <td>
            Transporting outside UK:
          </td>
          <td>
            {{ data.outside_uk }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      </tr> 
        <td>
          Hired transport manager:
        </td>
        <td>
          {{ data.transport_manager }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <div class="form-group">
    <a href="/transport_goods/task_list{{formQuery}}" class="button">Continue application</a>
  </div>

</main>

{% endblock %}
