{% extends "layout.html" %} {% block page_title %} Get Ofsted certificate {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/childminder/task_list#get_certificate{{formQuery}}">Become a childminder</a>
      </li>
      <li>
        Get Ofsted certificate
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/childminder/task_list#get_certificate" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Get Ofsted certificate
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Get Ofsted certificate
          </legend>

          <p id="reason_for_task">
            Your childminder certificate will arrive            <!-- Waiting time if in child's or carers home -->
            {% if data.place_type=="childs home" or
                  data.place_type=="your home"
            %}

              <span class="bold">3 months</span>

            <!-- Waiting time in nurseries, after school clubs or holiday playscheme -->
            {% elif 
              data.place_type=="other" or
              data.place_type=="your home,other" or
              data.place_type=="childs home,other" or
              data.place_type=="your home,childs home,other"
            %}

              <span class="bold">7 months</span>

            {% endif %} after applying to Osted.
          </p>

          <div class="panel panel-border-wide">
            <p>
              You are fully registered to care for children when it arrives.<br>
            </p>
          </div>

          <p><a href="https://reports.ofsted.gov.uk/">View your registration details</a></p>

          <input type="hidden" name="get_certificate" value="complete">

        </fieldset>
      

        <div class="form-group">
          <input type="submit" class="button" value="Yes - I have got my Ofsted certificate" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}