{% extends "transport_goods/layout.html" %} {% block page_title %} Save and return {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/transport_goods/save_and_return/email" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Do you want to save your application so you can come back to finish it another time?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Do you want to save your application so you can come back to finish it another time?
          </legend>

          <p>You'll get a link emailed to you that allows you to continue your application.</p>

          <div class="form-group">
            <label for="wants_save_and_return_1" class="block-label">
              <input type="radio" id="wants_save_and_return_1" name="wants_save_and_return" value="yes">
              Yes
            </label>

            <label for="wants_save_and_return_2" class="block-label">
              <input type="radio" id="wants_save_and_return_2" name="wants_save_and_return" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
