{% extends "layout.html" %} {% block page_title %} Do fist aid training {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/task_list/{{ formQuery | safe }}">Become a childminder</a>
      </li>
      <li>
        Do fist aid training
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/task_list/" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Do first aid training
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Do first aid training
          </legend>

          <!--
          <p class="cost-and-time">
            Cost: <span class="bold">varies by provider</span><br>
            Waiting: <span class="bold">varies by provider</span>
          </p>
          -->

          <p id="reason_for_task">Looking after children 5 and younger, means you need to do a 12-hour first aid training</p>

          <p>Tasks to do first aid training:</p>

          <ol class="list list-number">
            <li><a href="#">find acredited training provider</a></li>
            <li>book and pay for training</li>
            <li>do training</li>
            <li>recieve first aid certificate</li>
          </ol>

          <input type="hidden" name="do_first_aid_training" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Task complete" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}