{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/place_type" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          What age group of children do you think you'll be looking after?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            What age group of children do you think you'll be looking after?
          </legend>

          <p>Choose all that apply:</p>

          <div class="form-group">

            <label for="child_age-1" class="block-label">
              <input type="checkbox" id="child_age-1" name="child_age" value="5 and younger">
              5 and under
            </label>

            <label for="child_age-2" class="block-label">
              <input type="checkbox" id="child_age-2" name="child_age" value="6 to 7">
              6 to 7
            </label>

            <label for="child_age-3" class="block-label">
              <input type="checkbox" id="child_age-3" name="child_age" value="8 and older">
              8 and over
            </label>

            <label for="child_age-4" class="block-label">
              <input type="checkbox" id="child_age-4" name="child_age" value="not sure">
              not sure
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
