{% extends "layout.html" %} {% block page_title %} Name and address {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/get_references/referee_2/email_phone" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Referee two
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Referee two
          </legend>

          <h3 class="heading-medium">
            Address
          </h3>

          <div class="form-group">
            <label class="form-label" for="ref_two_building">Building and street</label>
            <input class="form-control" id="ref_two_building" name="ref_two_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="ref_two_street" name="ref_two_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="ref_two_town">Town or city</label>
            <input class="form-control" id="ref_two_town" name="ref_two_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="ref_two_country">Country (optional)</label>
            <input class="form-control" id="ref_two_country" name="ref_two_country" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="ref_two_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="ref_two_postcode" name="ref_two_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
