{% extends "bats/layout.html" %} {% block page_title %} Method {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/bat_details/date" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Describe the work taking place
        </h1>

        <p>This description must be written by your ecologist.</p>

        <fieldset>
          <legend class="visuallyhidden">
            Briefly descript the work 
          </legend>

          <div class="form-group">
            <span class="">Maximum 100 words</span>
            <input class="form-control form-control" id="method_statement" name="method_statement" type="text" style="height: 90px; width: 80%;">
          </div>

          <h3 class="heading-medium">
            Upload additional documents
          </h3>

          <p>You may want add documents to support your application.</p>

          <p>Including:</p>

          <ul class="list list-bullet">
            <li>maps</li>
            <li>figure</li>
            <li>plans</li>
            <li>survey results</li>
          </ul>

          <div class="form-group">
            <label class="form-label" for="file-input">
              Upload a file
            </label>
            <input type="file" id="file-input">
            <br>
            <br>
            <label class="form-label" for="file-input">
              <a href="#">Add another file</a>
            </label>
          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
