$path: "/public/images/";

// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Let's override the phase banner and make it black
.phase-banner-beta .phase-tag {
  background: black !important;
}

// Let's override the phase banner and make it alpha pink (sorry)
.phase-banner-alpha .phase-tag {
  background: #005ea5 !important;
}

.bold {
  font-weight: 700;
}

// Guidance styling

.pattern_nav li {
  font-size: 16px;
}

.design-pattern {
  font-size: 19px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

// check before you start styling

#between-big-number {
  font-size: 48px;
  font-weight: 400;
}

// task list styling

#table-of-tasks td {
  border-bottom: 1px solid #bfc1c3;
}

.task-group {
  font-size: 30px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .task-group {
    font-size: 24px;
    font-weight: 700;
  }
}

.task {
  font-size: 19px;
  font-weight: 700;
  color: $link-colour;
}

.task-name {  
  font-size: 19px;
  font-weight: 400;
  margin-left: 65px;
}

#task-number {  
  margin-right: 32px;
}

.task-name:hover {
    text-decoration: underline;
}

.task-description {
  font-size: 16px;
  font-weight: 400; 
}

.task-tag {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 3px 6px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: $black;
}

.task-finished {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 3px 6px 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none; 
//  text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #005ea5;
//  border: 3px solid #0B0C0C;
}

// .task-started {
//     display: inline-block;
//     vertical-align: top;
//     margin: 0 0 0 0;
//     padding: 2px 5px 0;
//     font-family: "nta", Arial, sans-serif;
//     font-size: 16px;
//     line-height: 1.25;
//     font-weight: 700;
//     text-transform: none; 
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     text-decoration: none;
//     color: #005EA5;
//     background-color: #FFFFFF;
//     border: 3px solid #005EA5;
// }

.task-name-no-margin {
  font-size: 19px;
  font-weight: 400;
}


// cost and time

.total-cost {
  font-size: 80px;
  font-weight: 700;
}

.varying-cost {
  font-size: 16px;
  font-weight: 700;
}

// insurance training

#type-of-thing {
  background: $secondary-text-colour;
}

// status overview

.actions {
  margin-top: 18px;
}

.action {
    font-weight: 700;
}

.action a {
    text-decoration: none;
}

.action a:hover {
    text-decoration: underline;
}

.task-heading {
  font-size: 19px;
  font-weight: 700;
}

.application_number {
  font-size: 36px;
  font-weight: 700;
}

.valid-licence {
  background-color: #005EA5;
}

.design-update {
  font-size: 14px;
}

.bold-date {
  font-weight: 700;
  color: #000000;
}

.task-description {
  font-size: 19px;
  font-weight: 400;
  color: #0B0C0C;
}

// Add multiple vehciles in questions for /transport_goods/task_list/describe_vehicles/has_vehicles_already

    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .remove-list-item {
      display: inline-block;
      margin-top: 1.6em;
    }

    .list-item-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }

    .list-item-wrapper .heading-small,
    .list-item-wrapper .heading-medium,
    .list-item-wrapper .heading-large,
    .list-item-wrapper .heading-xlarge {
      margin-top: 0;
    }

    .list-item-wrapper .column-one-third .list-item {
      width: 100%;
    }

    .list-item-wrapper .column-one-third input {
      width: 90%;
    }

    .button-add-another {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another:hover {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another:focus {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    @media (max-width: 640px) {
      .list-item-wrapper .column-one-third input {
        width: 100%;
      }

      .no-padding {
        padding-left: 20px;
        padding-right: 20px;
      }

      .button-add-another {
        width: 90%;
        margin: auto;
        display: block;
      }
    }