{% extends "layout.html" %}
{% block page_title %} Task list {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

   <div id="">
      
  <div class="grid-row">

    <div class="column-two-thirds">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">

          <p class="context">Overview</p>
          <h1>Become a childminder</h1>

          <br>
          <br>

          <!-- 
          <p style="font-size: 24px;">Childminders are registered professionals trained to care for children 7 years old or younger.</p>
          -->

          <p class="lede">You must complete the tasks below:</p>

        </header>
      
    {{formData | safe}}

    </div>

  </div>

  <div class="grid-row">

    <div class="column-three-quarters">  

  <table id="table-of-tasks">

    <thead>
      <tr>
        <th scope="col" id="col-task">
          <span class="task-group">  
            <span class="group-number" id="task-number"></span>
              Check before you start
          </span>
        </th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>
      <!-- check eligibility -->
      <tr>
        <td class="task" id="check_before_you_start">
          <a href="/questions/country">
            <span class="task-name">Check eligibility, cost and time</span>
            <!--
              <br>
              <span class="task-description">
                Check your eligibility, time and cost to apply
              </span>
            -->
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.shared_home=="yes" or data.shared_home=="no"  %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- read rules -->
      <tr id="read_rules">
        <td class="task">
          <a href="/task_list/read_rules{{formQuery}}">
            <span class="task-name"> Read rules</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.read_rules=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Register with local council -->
      <tr id="contact_local_council">
        <td class="task">
          <a href="/task_list/contact_local_council{{formQuery}}">
            <span class="task-name"> Contact your local council</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.contact_local_council=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

<table id="table-of-tasks">

    <thead>
      <tr>
        <th scope="col" id="col-task">
          <span class="task-group">  
            <span class="group-number" id="task-number"></span>
              Prepare to apply
          </span>
        </th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>
      <!-- prove identity -->
      <tr id="prove_identity">
        <td class="task">
          <a href="/task_list/prove_identity{{formQuery}}">
            <span class="task-name"> Prove identity</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.prove_identity=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Check criminal history -->
      <tr id="check_criminal_history">
        <td class="task">
          <a href="/task_list/check_criminal_history{{formQuery}}">
            <span class="task-name"> Check criminal history</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.check_criminal_history=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Check others criminal history -->
      {% 
        if 
        data.shared_home=="yes" and
        data.others_have_dbs=="no" or data.others_have_dbs=="not_sure"  
      %}
        <tr id="check_other_criminal_history">
          <td class="task">
            <a href="/task_list/check_others_criminal_history{{formQuery}}">

              <span class="task-name"> Check others criminal history</span>
            </a>
          </td>
          <td class="numeric" id="task-status">
            {% if data.check_other_criminal_history=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}

      <!-- Get health check -->
      <tr id="get_health_check">
        <td class="task">
          <a href="/task_list/get_health_check{{formQuery}}">
            <span class="task-name"> Get health check</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.get_health_check=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- Do childminder training -->
      <tr id="do_childminder_training">
        <td class="task">
          <a href="/task_list/do_childminder_training{{formQuery}}">
            <span class="task-name"> Do childminder training</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.do_childminder_training=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- Do first aid training -->
      {% 
        if 
        data.child_age=="5_or_under" or 
        data.child_age=="5_or_under,6_to_7" or data.child_age=="5_or_under,6_to_7,8_and_over" or
        data.child_age=="5_or_under,8_and_over" or
        data.child_age=="not_sure"  
      %}
        <tr id="do_first_aid_training">
          <td class="task">
            <a href="/task_list/do_first_aid_training{{formQuery}}">

              <span class="task-name"> Do paediatric first aid training</span>
            </a>
          </td>
          <td class="numeric" id="task-status">
            {% if data.do_first_aid_training=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}

      <!-- Get references -->
      <tr id="get_references">
        <td class="task">
          <a href="/task_list/get_references{{formQuery}}">
            <span class="task-name"> Get references</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.get_references=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

    </tbody>
  </table>

  <br>
  <br>

  <table id="table-of-tasks">
    <thead>
      <tr>
        <th scope="col" id="col-task">
          <span class="task-group">  
            <span class="group-number" id="task-number"></span>
              Apply
          </span>
        </th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Apply to Ofsted -->
      <tr id="apply_to_ofsted">
        <td class="task">
          <a href="/task_list/register_with_ofsted{{formQuery}}">
            <span class="task-name"> Apply to Ofsted</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.apply_to_ofsted=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

<br>
  <br>

  <table id="table-of-tasks">
  
    <thead>
      <tr>
        <th scope="col" id="col-task">
          <span class="task-group">  
            <span class="group-number" id="task-number"></span>
              After you qualify
          </span>
        </th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>

    <tbody>


      <!-- Get premises inspected -->
      <tr id="get_premises_inspected">
        <td class="task">
          <a href="/task_list/get_certificate{{formQuery}}">

            <span class="task-name"> Get Ofsted certificate</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.get_certificate=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- have food inspection -->
      {% if data.food=="yes" or data.food=="not_sure"  %}
        <tr id="have_food_inspection">
          <td class="task">
            <a href="/task_list/have_food_inspection{{formQuery}}">

              <span class="task-name"> Prepare for food inspection</span>
            </a>
          </td>
          <td class="numeric" id="task-status">          
            {% if data.have_food_inspection=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}

      <!-- Get insured -->
      <tr id="get_insured">
        <td class="task">
          <a href="/task_list/get_insured{{formQuery}}">
            <span class="task-name"> Get insured</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.get_insured=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- Register as self employed -->
      {% if data.employment=="self_employed" %}
        <tr id="register_self_employed">
          <td class="task">
            <a href="/task_list/register_self_employed{{formQuery}}">
              <span class="task-name"> Register for tax</span>
            </a>
          </td>
          <td class="numeric" id="task-status">          
            {% if data.register_self_employed=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}

      <!-- Set up a private limited company -->
      {% if data.employment=="limited_company" %}
        <tr id="set_up_limited_company">
          <td class="task">
            <a href="/task_list/set_up_limited_company{{formQuery}}">
              <span class="task-name"> Set up a limited company</span>
            </a>
          </td>
          <td class="numeric" id="task-status">          
            {% if data.set_up_limited_company=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}

    </tbody>
  </table>

    </div>

<!--

  <div class="column-quarter">

      <ul class="actions">
        <li class="action"><a href="/save_and_return/email">Save and complete later</a></li>
        <li class="action"><a href="#">Print list</a></li>
        <li class="action"><a href="#">Delete list</a></li>
      </ul>

      <div class="meta-data">
        <p class="last-edited font-xsmall">List number<br>
          <span class="bold-xsmall">1280880</span>
        </p>
        <p class="last-edited font-xsmall">Created on<br>
          <span class="bold-xsmall">25 July 2016</span>
        </p>
        <p class="last-edited font-xsmall">Last visited on<br>
          <span class="bold-xsmall">23 August 2016</span>
        </p>

        <p class="last-edited font-xsmall">Status<br>
          <span class="bold-xsmall"><span id="completed-steps"></span> of <span id="total-steps"></span> tasks completed</span>
        </p>
      </div>

    </div>

  </div>

        -->
    
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}