{% extends "layout.html" %}
{% block page_title %} Task list {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

   <div id="">
      
  <div class="grid-row">

    <div class="column-two-thirds">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">

          <p class="context">Overview</p>
          <h1>Become a childminder</h1>

        </header>

        <p class="">Complete the tasks below</p>

        <br>
      

    {{formData | safe}}

    </div>

  </div>

  <div class="grid-row">

    <div class="column-three-quarters">  

  <table>
    <thead>
      <tr>
        <th scope="col" id="col-task"></th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>
      <!-- check eligibility -->
      <tr>
        <td class="task">
          <a href="/start-page">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check eligibility</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% include "includes/task_status_complete.html" %}
        </td>
      </tr>
      <!-- read rules -->
      <tr>
        <td class="task">
          <a href="/task_list/read_rules">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Read rules</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.read_rules=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Check criminal history -->
      <tr>
        <td class="task">
          <a href="/task_list/check_criminal_history">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check criminal history</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.check_criminal_history=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Check others criminal history -->
      {% if data.shared_home=="yes" %}
        <tr>
          <td class="task">
            <a href="/task_list/check_others_criminal_history">
              <span class="step-number" id="task-number"></span>
              <span class="task-name"> Check others criminal history</span>
            </a>
          </td>
            {% if data.check_other_criminal_history=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          <td class="numeric" id="task-status"></td>
        </tr>
      {% endif %}
      <!-- Get health check -->
      <tr>
        <td class="task">
          <a href="/task_list/get_health_check">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Get health check</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.get_health_check=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Do first aid training -->
      {% if data.child_age=="5_or_under" %}
        <tr>
          <td class="task">
            <a href="/task_list/do_first_aid_training">
              <span class="step-number" id="task-number"></span>
              <span class="task-name"> Do first aid training</span>
            </a>
          </td>
          <td class="numeric" id="task-status">
            {% if data.do_first_aid_training=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <!-- Do childminder training -->
      <tr>
        <td class="task">
          <a href="/task_list/do_childminder_training">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Do childminder training</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.do_childminder_training=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Get references -->
      <tr>
        <td class="task">
          <a href="/task_list/get_references">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Get references</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.get_references=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Apply to Ofsted -->
      <tr>
        <td class="task">
          <a href="/task_list/apply_to_ofsted">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Apply to Ofsted</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.apply_to_ofsted=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Get premises inspected -->
      {% if data.child_age=="5_or_under" %}
        <tr>
          <td class="task">
            <a href="/task_list/get_premises_inspected">
              <span class="step-number" id="task-number"></span>
              <span class="task-name"> Get premises inspected</span>
            </a>
          </td>
          <td class="numeric" id="task-status">          
            {% if data.get_premises_inspected=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      <!-- Get insured -->
      <tr>
        <td class="task">
          <a href="/task_list/get_insured">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Get insured</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.get_insured=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      <!-- Register as self employed -->
      <tr>
        <td class="task">
          <a href="/task_list/register_self_employed">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Register as self employed</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.register_as_self_employed=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>


    </div>

<div class="column-quarter">

      <ul class="actions">
        <li class="action"><a href="#">Save and complete later</a></li>
        <li class="action"><a href="#">Print list</a></li>
        <li class="action"><a href="#">Delete list</a></li>
      </ul>

      <div class="meta-data">
        <p class="last-edited font-xsmall">List number<br>
          <span class="bold-xsmall">1280880</span>
        </p>
        <p class="last-edited font-xsmall">Created on<br>
          <span class="bold-xsmall">25 July 2016</span>
        </p>
        <p class="last-edited font-xsmall">Status<br>
          <span class="bold-xsmall">1 of 12 tasks completed</span>
        </p>
      </div>

    </div>

  </div>
    
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}