{% extends "bats/layout.html" %} {% block page_title %} Method {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/bat_details/method/statement_and_upload" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          How will you do this? 
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            How will you do this?  
          </legend>

          <div class="form-group">

            <label for="method_1" class="block-label">
              <input type="checkbox" id="method_1" name="method" value="yes">
              By hand
            </label>

            <label for="method_2" class="block-label">
              <input type="checkbox" id="method_2" name="method" value="no">
              By static hand-held net
            </label>

            <label for="method_3" class="block-label">
              <input type="checkbox" id="method_3" name="method" value="yes">
              Temporary exclusion by one way door or valve
            </label>

            <label for="method_4" class="block-label">
              <input type="checkbox" id="method_4" name="method" value="no">
              Permanent exclusion
            </label>

            <label for="method_5" class="block-label">
              <input type="checkbox" id="method_5" name="method" value="no">
              Destructive search by soft demolition
            </label>

            <label for="method_6" class="block-label">
              <input type="checkbox" id="method_6" name="method" value="no">
              Disturbance by illumination
            </label>

            <label for="method_7" class="block-label">
              <input type="checkbox" id="method_7" name="method" value="no">
              Disturbance by noise or vibration
            </label>

            <label for="method_8" class="block-label">
              <input type="checkbox" id="method_8" name="method" value="no">
              Mechanical demolition
            </label>

            <label for="method_9" class="block-label">
              <input type="checkbox" id="method_9" name="method" value="no">
              Temporary obstruction of roost access
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
