{% extends "bats/layout.html" %} {% block page_title %} Driving lessons {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Have you hired a ecologist to inspect the place where bats live? 
        </h1>

        <p>You must hired a ecologist to inspect the place where the bats live and to help you prepare your application.</p>

        <fieldset>
          <legend class="visuallyhidden">
            Have you hired a ecologist to inspect and move the bats for you? 
          </legend>

          <div class="form-group">
            <label for="hired_ecologist_1" class="block-label">
              <input type="radio" id="hired_ecologist_1" name="hired_ecologist" value="yes">
              Yes
            </label>

            <label for="hired_ecologist_2" class="block-label">
              <input type="radio" id="hired_ecologist_2" name="hired_ecologist" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
