{% extends "bats/layout.html" %} {% block page_title %} Permissions {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Do you need any other licences to do this work? 
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Do you need any other licences to do this work?   
          </legend>


          <div class="form-group">

            <label for="needs_others_licences_1" class="block-label">
              <input type="radio" id="needs_others_licences_1" name="needs_others_licences" value="yes">
              Yes
            </label>

            <label for="needs_others_licences_2" class="block-label">
              <input type="radio" id="needs_others_licences_2" name="needs_others_licences" value="no">
              No
            </label>

            <label for="needs_others_licences_3" class="block-label">
              <input type="radio" id="needs_others_licences_3" name="needs_others_licences" value="don't know">
              Don't know
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
