{% extends "transport_goods/layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers for this task
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            List your vehicles
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Has vehicle details
        </td>
        <td>
          {{ data.has_vehicles_already }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.has_vehicles_already=="no" %}
        </tr> 
          <td>
            When you'll have details:
          </td>
          <td>
            {{ data.vehicle_day }} {{ data.vehicle_month }} {{ data.vehicle_year }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.has_vehicles_already=="yes" and data.reg_number_1!=null %}
        </tr> 
          <td>
            Vehicle 1:
          </td>
          <td>
            {{ data.reg_number_1 }}<br>
            {{ data.weight_1 }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.has_vehicles_already=="yes" and data.reg_number_2!=null %}
        </tr> 
          <td>
            Vehicle 2:
          </td>
          <td>
            {{ data.reg_number_2 }}<br>
            {{ data.weight_2 }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.has_vehicles_already=="yes" and data.reg_number_3!=null %}
        </tr> 
          <td>
            Vehicle 3:
          </td>
          <td>
            {{ data.reg_number_3 }}<br>
            {{ data.weight_3 }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.has_vehicles_already=="yes" and data.reg_number_4!=null %}
        </tr> 
          <td>
            Vehicle 4:
          </td>
          <td>
            {{ data.reg_number_4 }}<br>
            {{ data.weight_4 }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.has_vehicles_already=="yes" and data.reg_number_5!=null %}
        </tr> 
          <td>
            Vehicle 5:
          </td>
          <td>
            {{ data.reg_number_5 }}<br>
            {{ data.weight_5 }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Address:
        </td>
        <td>
          {{ data.address_building }}<br>
          {{ data.address_street }}<br>
          {{ data.address_town }}<br>
          {{ data.address_postcode }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

<!--   <div class="form-group">
    <a href="/transport_goods/task_list/maintain_vehicles/reason{{formQuery}}" class="button">Continue to next task: look after your vehicles</a>
  </div> -->

  <a href="/transport_goods/task_list{{formQuery}}">Return to task list</a>

</main>

{% endblock %}
