{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/bat_details/number/resting_sites" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          How many bat breeding sites will your work affect? 
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            How many bat breeding sites will your work affect? 
          </legend>
          
          {% if data.bat_species=="alcathoe" %}
            <label class="form-label" for="number_of_bats_1">Number of Alcathoe bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="barbastelle" %}
            <label class="form-label" for="number_of_bats_1">Number of Barbastelle bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="bechsteins" %}
            <label class="form-label" for="number_of_bats_1">Number of Bechstein's bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="brandts" %}
            <label class="form-label" for="number_of_bats_1">Number of Brandt's bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="brown_long_eared" %}
            <label class="form-label" for="number_of_bats_1">Number of Brown long-eared bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="common_pipistrelle" %}
            <label class="form-label" for="number_of_bats_1">Number of Common pipistrelle bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="daubentons" %}
            <label class="form-label" for="number_of_bats_1">Number of Daubenton's bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="greater_horseshoe" %}
            <label class="form-label" for="number_of_bats_1">Number of Greater horseshoe bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="greater_mouse_eared" %}
            <label class="form-label" for="number_of_bats_1">Number of Greater mouse-eared bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="grey_long-eared" %}
            <label class="form-label" for="number_of_bats_1">Number of Grey long-eared bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="leislers" %}
            <label class="form-label" for="number_of_bats_1">Number of Leisler's bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="lesser_horseshoe" %}
            <label class="form-label" for="number_of_bats_1">Number of Lesser bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="nathusius_pipistrelle" %}
            <label class="form-label" for="number_of_bats_1">Number of Nathusius' bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="natterers" %}
            <label class="form-label" for="number_of_bats_1">Number of Natterer's bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="noctule" %}
            <label class="form-label" for="number_of_bats_1">Number of Noctule bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="serotine" %}
            <label class="form-label" for="number_of_bats_1">Number of Serotine bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="soprano_pipistrelle" %}
            <label class="form-label" for="number_of_bats_1">Number of Soprano pipistrelle bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="whiskered" %}
            <label class="form-label" for="number_of_bats_1">Number of Whiskered bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

          {% if data.bat_species=="not_on_list" %}
            <label class="form-label" for="number_of_bats_1">Number of Alcathoe bats</label>
            <input class="form-control form-control-1-2" id="number_bats_1" type="text" name="number_alcathoe">

            <br>
            <br>
          {% endif %}

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
