{% extends "bats/layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            {{ data.applicant_name }}
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Hired ecologist
        </td>
        <td>
          {{ data.hired_ecologist }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Permission to use land
        </td>
        <td>
          {% if data.own_occupy=="yes" or data.has_owners_permission=="yes" %}
          yes
          {% endif %}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Ecologist has visited place<br> bat are
        </td>
        <td>
          {{ data.visit_bat_place }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Alternative to moving <br>or disturbing bats
        </td>
        <td>
          {{ data.alternative }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Serious impact on bat species
        </td>
        <td>
          {{ data.impact_on_bats }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Bats
        </td>
        <td>
          Species: {{ data.bat_species }}<br>
          Numbers: {{ data.number_bats }}<br>
          Breeding sites: {{ data.number_breeding_sites }}<br>
          Resting sites: {{ data.number_resting_sites }}<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Activity
        </td>
        <td>
          {{ data.activity }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Activity method
        </td>
        <td>
          {{ data.method }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Activity description
        </td>
        <td>
          {{ data.method_statement }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Support documents
        </td>
        <td>
          File name<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          When
        </td>
        <td>
          April 2017 – 9 April 2017
          <!-- 
          {{ data.start-day }} {{ data.start-month }} {{ data.start-year }}

          –
    
          {{ data.end-day }} {{ data.end-month }} {{ data.end-year }} 
          -->
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Where
        </td>
        <td>
          {{ data.building_address_building }}<br>
          {{ data.building_address_street }}<br>
          {{ data.building_address_town }}<br>
          {{ data.building_address_postcode }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Why
        </td>
        <td>
          {% if data.repairs_maintenance=="yes" %}
            repairs and maintenance work<br>
          {% endif %}

          {% if data.roof_loft_extension=="yes" %}
            roof or loft extension<br>
          {% endif %}

          {% if data.building_conservation=="yes" %}
            building onversation work<br>
          {% endif %}

          {% if data.much_need_housing=="yes" %}
            build much needed housing<br>
          {% endif %}

          {% if data.give_reason %}
            {{ data.give_reason }}
          {% endif %}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Category
        </td>
        <td>
          {{ data.category }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      {% if data.needs_others_licences=="yes" %}
        <tr>
          <td>
            Other licences needed
          </td>
          <td>
            {{ data.licence_types }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Exporter name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Name
        </td>
        <td>
          {{ data.applicant_name }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.user_type=="business" %}
        <tr>
          <td>
            Companies House number
          </td>
          <td>
            {{ data.company-number }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.user_type=="charity" %}
        <tr>
          <td>
            Charity registration number
          </td>
          <td>
            1047809
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Contact details
        </td>
        <td>
          {{ data.applicant_address_building }}<br>
          {{ data.applicant_address_street }}<br>
          {{ data.applicant_address_town }}<br>
          {{ data.applicant_address_postcode }}<br>
          Tel: {{ data.applicant_phone }}<br>
          Email: {{ data.applicant_email }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Ecologist
        </td>
        <td>
          {{ data.ecologist_name }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Ecologist's address
        </td>
        <td>
          {{ data.ecologist_address_building }}<br>
          {{ data.ecologist_address_street }}<br>
          {{ data.ecologist_address_town }}<br>
          {{ data.ecologist_address_postcode }}<br>
          Tel: {{ data.ecologist_phone }}<br>
          Email: {{ data.ecologist_email }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Who to contact
        </td>
        <td>
          {% if data.who_should_be_contacted=="applicant" %}
            {{ data.applicant_name }}
          {% endif %}
          {% if data.who_should_be_contacted=="ecologist" %}
            {{ data.ecologist_name }}
          {% endif %}  
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          How to contact
        </td>
        <td>
          {{ data.contact_by }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <!-- get references -->
      {% if data.past_applications=="no" %}
        <tr>
          <td>
            Ecologist experience
          </td>
          <td>
            University of place
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Exporter name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Referee one
          </td>
          <td>
            {{ data.ref_one_name }}
            {{ data.ref_one_building }}<br>
            {{ data.ref_one_street }}<br>
            {{ data.ref_one_town }}<br>
            {{ data.ref_one_postcode }}<br>
            Tel: {{ data.ecologist_phone }}<br>
            Email: {{ data.ecologist_email }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Exporter name</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            Referee two
          </td>
          <td>
            {{ data.ref_one_name }}
            {{ data.ref_one_building }}<br>
            {{ data.ref_one_street }}<br>
            {{ data.ref_one_town }}<br>
            {{ data.ref_one_postcode }}<br>
            Tel: {{ data.ecologist_phone }}<br>
            Email: {{ data.ecologist_email }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Exporter name</span>
            </a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

  <div class="form-group">
    <a href="/bats/task_list/declare_submit/confirmation-page" class="button">Accept and send application</a>
  </div>

</main>

{% endblock %}
