{% extends "bats/layout.html" %} {% block page_title %} Method {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/building_datails/category" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
         What is the reason for doing the work? 
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            What is the reason for doing the work? 
          </legend>

          <div class="form-group">

            <label for="give_reason_1" class="block-label">
              <input type="checkbox" id="give_reason_1" name="give_reason" value="yes">
              Urgent building work
            </label>

            <label for="give_reason_2" class="block-label">
              <input type="checkbox" id="give_reason_2" name="give_reason" value="no">
              Public health and safety
            </label>

            <label for="give_reason_3" class="block-label">
              <input type="checkbox" id="give_reason_3" name="give_reason" value="yes">
              Prevent spread of disease
            </label>

            <label for="give_reason_4" class="block-label">
              <input type="checkbox" id="give_reason_4" name="give_reason" value="no">
              Prevent serious damage to livestock, food for livestock, crops, vegetables, fruit, growing timber, fisheries or inland waters
            </label>

            <label class="block-label" data-target="contact-by-text" for="bat_species-19">
              <input id="bat_species-19" type="checkbox" name="bat_species" value="not_on_list">
              Other
            </label>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <label class="form-label" for="contact-text-message">Reason</label>
              <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
            </div>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
