{% extends "layout.html" %} {% block page_title %} Email and phone {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/contact_details/ecologist/name_address" class="form">

      {{formData | safe}}

        <!-- Private individual -->
        {% if data.user_type=="private_individual" %}

          <h1 class="heading-large">
            Personal details 
          </h1>

        <!-- Business -->
        {% elif data.user_type=="business" %}

          <h1 class="heading-large">
            Company details
          </h1>

        <!-- Charity -->
        {% elif data.user_type=="charity" %}

          <h1 class="heading-large">
            Charity details
          </h1>

        <!-- Volunteer organisation -->
        {% elif data.user_type=="volunteer" %}

          <h1 class="heading-large">
            Organisation details
          </h1>

        <!-- Government Agency -->
        {% elif data.user_type=="central_gov" %}

          <h1 class="heading-large">
            Government agency details
          </h1>

        <!-- Local authority -->
        {% elif data.user_type=="local_gov" %}
 
          <h1 class="heading-large">
            Local authority details
          </h1>

        {% endif %}

        <fieldset>
          <legend class="visuallyhidden">
            Email and phone
          </legend>

          <h3 class="heading-medium">Email</h3>

          <p>We'll only use this to send you a receipt.</p>

          <div class="form-group">
            <label class="form-label" for="applicant_email">Email address</label>
            <input class="form-control" id="applicant_email" name="applicant_email" type="text">
          </div>

          <h3 class="heading-medium">Phone</h3>

          <p>This should be to someone we can talk about the application with</p>

          <div class="form-group">
            <label class="form-label" for="applicant_phone">Phone number</label>
            <input class="form-control" id="applicant_phone" name="applicant_phone" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
