{% extends "layout.html" %} {% block page_title %} Example - Forms {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/building_datails/reason/repairs_maintenance" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Where will the work happen?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Where will the work happen?
          </legend>

          <h3 class="heading-medium">Address</h3>

          <div class="form-group">
            <label class="form-label" for="building_address_building">Building and street</label>
            <input class="form-control" id="building_address_building" name="building_address_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="building_address_street" name="building_address_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="building_address_town">Town or city</label>
            <input class="form-control" id="building_address_town" name="building_address_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="building_address_country">Country (optional)</label>
            <input class="form-control" id="building_address_country" name="building_address_country" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="building_address_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="building_address_postcode" name="building_address_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
