{% extends "bats/layout.html" %} {% block page_title %} Driving lessons {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/check_before_you_start/land_ownership" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Has the ecologist you've hired applied for a wildlife licence before?  
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Has the ecologist you've hired applied for a wildlife licence before? 
          </legend>

          <div class="form-group">
            <label for="past_applications_1" class="block-label">
              <input type="radio" id="past_applications_1" name="past_applications" value="yes">
              Yes
            </label>

            <label for="past_applications_2" class="block-label">
              <input type="radio" id="past_applications_2" name="past_applications" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
