{% extends "transport_goods/layout.html" %}

{% block page_title %} Transport goods {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

   <div id="">
      
  <div class="grid-row">

    <div class="column-two-thirds">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">
          

        <h2 class="heading-large">Complete tasks to apply</h2>

        </header>

<!--  <p class="">Do the following tasks if you want to transport goods:</p> -->
      

    {{formData | safe}}

    </div>

  </div>

  <div class="grid-row">

    <div class="column-three-quarters">  

      <table>
        <thead>
          <tr>
            <th scope="col" id="col-task"></th>
            <th class="numeric" id="task-status" scope="col" id="col-status"></th>
          </tr>
        </thead>
        <tbody>

          <!-- Check before you start -->
          <tr id="check_before_you_start">
            <td class="task">
              <a href="/transport_goods/task_list/check_before_you_start/reason{{formQuery}}">
                <span class="task-name-no-margin"> 
                  Check eligibility, cost and time
                </span>
                <!--
                  <br>
                  <span class="task-description">
                    Check your eligibility, time and cost to apply
                  </span>
                -->
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.transport_manager %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Read rules -->
          <tr id="read_rules">
            <td class="task">
              <a href="/transport_goods/task_list/read_rules{{formQuery}}">
                <span class="task-name-no-margin"> Read the rules</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.read_rules=="yes" %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Apply for interim licence -->
          {% if data.need_interim_licence=="no" %}
            <tr>
              <td class="task">
                <a href="/transport_goods/task_list/transport_manager{{formQuery}}">

                  <span class="task-name-no-margin"> Apply for interim licence</span>
                </a>
              </td>
              <td class="numeric" id="task-status">
                {% if data.interim_licence=="complete" %}
                  {% include "includes/task_status_finished.html" %}
                {% endif %}
              </td>
            </tr>
          {% endif %}

          <!-- Become a transport manager -->
          {% if data.transport_manager=="no" %}
            <tr>
              <td class="task">
                <a href="/transport_goods/task_list/transport_manager{{formQuery}}">

                  <span class="task-name-no-margin"> Hire or train transport manager</span>
                </a>
              </td>
              <td class="numeric" id="task-status">
                {% if data.now_transport_manager=="yes" %}
                  {% include "includes/task_status_finished.html" %}
                {% endif %}
              </td>
            </tr>
          {% endif %}

          <!-- Give public notice -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/give_public_notice/reason{{formQuery}}">
                <span class="task-name-no-margin"> Tell the public about your application</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.given_public_notice=="yes" %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Enter bat details -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/describe_vehicles/has_vehicles_already{{formQuery}}">
                <span class="task-name-no-margin"> List your vehicles</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.has_vehicles_already %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Maintain your vehicles -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/maintain_vehicles/reason{{formQuery}}">
                <span class="task-name-no-margin"> Look after your vehicles</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.has_mechanic=="yes" %}
                {% include "includes/task_status_finished.html" %}              
              {% endif %}
            </td>
          </tr>

          <!-- Prove you have enough money -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/prove_money/reason{{formQuery}}">
                <span class="task-name-no-margin"> Prove you have enough money</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.uploaded_document %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Declare convictions and penalties -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/convictions_penalties/reason{{formQuery}}">
                <span class="task-name-no-margin"> List convictions</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.compensation_order %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Your contact details -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/contact_details{{formQuery}}">
                <span class="task-name-no-margin"> Your contact details</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.contact_by %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Pay application fee
          <tr>
            <td class="task">
              <a href="https://payment-prototype.herokuapp.com/tgl/tgl-choose-payment">
                <span class="task-name-no-margin"> Pay application fee</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.pay_application_fee=="complete" %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>
          -->

          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/check_and_send{{formQuery}}">
                <span class="task-name-no-margin"> Submit and pay</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.apply_for_provisional=="complete" %}
                {% include "includes/task_status_finished.html" %}
              {% endif %}
            </td>
          </tr>

        </tbody>
      </table>

    </div>

<!--     <div class="column-quarter">

          <ul class="actions">
            <li class="bold"><a href="#">Print list</a></li>
          </ul>

          <br>

          <div class="meta-data">
            <p class="last-edited font-xsmall">Reference number:<br>
              <span class="bold-xsmall">HDJ2123F</span>
            </p>
          </div>

    </div> -->

  </div>
    
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}