{% extends "layout.html" %}
{% block page_title %} Transport goods in the UK {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

   <div id="">
      
  <div class="grid-row">

    <div class="column-two-thirds">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">

          <p class="context">Overview</p>
          <h1>Transport goods in the UK</h1>

        </header>

        <p class="">Complete the tasks below:</p>

        <br>
      

    {{formData | safe}}

    </div>

  </div>

  <div class="grid-row">

    <div class="column-three-quarters">  

      <table>
        <thead>
          <tr>
            <th scope="col" id="col-task"></th>
            <th class="numeric" id="task-status" scope="col" id="col-status"></th>
          </tr>
        </thead>
        <tbody>

          <!-- Check before you start -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/check_before_you_start/weight/empty{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Check before your start</span>
                <!--
                  <br>
                  <span class="task-description">
                    Check your eligibility, time and cost to apply
                  </span>
                -->
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.hired_ecologist=="yes" %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Read rules -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/read_rules{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Read rules</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.hired_ecologist=="yes" %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Become a transport manager -->
          {% if data.transport_manager=="no" %}
            <tr>
              <td class="task">
                <a href="/transport_goods/task_list/become_transport_manager{{formQuery}}">
                  <span class="step-number" id="task-number"></span>
                  <span class="task-name"> Become a transport manager</span>
                </a>
              </td>
              <td class="numeric" id="task-status">
                {% if data.bat_details=="complete" %}
                  {% include "includes/task_status_complete.html" %}
                {% endif %}
              </td>
            </tr>
          {% endif %}

          <!-- Give public notice -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/give_public_notice{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Give public notice</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.bat_details=="complete" %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Enter bat details -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/describe_vehicles{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Describe your vehicles</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.bat_details=="complete" %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Maintain your vehicles -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/maintain_vehicles{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Maintain your vehicles</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.bat_details=="complete" %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Prove you have enough money -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/prove_money{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Prove you have enough money</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.contact_by %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Declare convictions and penalties -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/criminal{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Declare convictions and penalties</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.contact_by %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Your contact details -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/contact_details{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Your contact details</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.contact_by %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Pay application fee -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/pay_fee{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Pay application fee</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.contact_by %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

          <!-- Check and send your application -->
          <tr>
            <td class="task">
              <a href="/transport_goods/task_list/check_and_send{{formQuery}}">
                <span class="step-number" id="task-number"></span>
                <span class="task-name"> Check and send your application</span>
              </a>
            </td>
            <td class="numeric" id="task-status">
              {% if data.apply_for_provisional=="complete" %}
                {% include "includes/task_status_complete.html" %}
              {% endif %}
            </td>
          </tr>

        </tbody>
      </table>

    </div>

    <div class="column-quarter">

          <ul class="actions">
            <li class="bold"><a href="/save_and_return/email">Save and complete later</a></li>
            <li class="bold"><a href="#">Print list</a></li>
          </ul>

          <br>

          <div class="meta-data">
            <p class="last-edited font-xsmall">Reference number:<br>
              <span class="bold-xsmall">HDJ2123F</span>
            </p>
            <p class="last-edited font-xsmall">Progress:<br>
              <span class="bold-xsmall"><span id="completed-steps"></span> of <span id="total-steps"></span> tasks completed</span>
            </p>
          </div>

    </div>

  </div>
    
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}