{% extends "transport_goods/layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <h1 class="heading-large">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Check eligibility, cost and time
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Weight when empty:
        </td>
        <td>
          {{ data.weight_empty }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.weight_empty=="less than 1,525 kg" %}
        <tr>
          <td>
            Weight when loaded:
          </td>
          <td>
            {{ data.weight_loaded }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Operating exempt vehicles:
        </td>
        <td>
          {{ data.exempt_vehicles }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Carrying passengers:
        </td>
        <td>
          {{ data.carrying_passengers }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Trade plates:
        </td>
        <td>
          {{ data.trade_plates }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Carrying passengers:
        </td>
        <td>
          {{ data.carrying_passengers }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Trade plates:
        </td>
        <td>
          {{ data.trade_plates }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Less than 6 miles a week:
        </td>
        <td>
          {{ data.six_miles_a_week }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.six_miles_a_week=="yes" %}
        <tr>
          <td>
            Digging and demolition vehicles:
          </td>
          <td>
            {{ data.digging_demolition }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.digging_demolition=="no" %}
        <tr>
          <td>
            Own private parking:
          </td>
          <td>
            {{ data.same_owner }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      </tr> 
        <td>
          Transporting just your goods:
        </td>
        <td>
          {{ data.just_your_goods }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.just_your_goods=="no" %}
        </tr> 
          <td>
            Transporting outside UK:
          </td>
          <td>
            {{ data.outside_uk }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      </tr> 
        <td>
          Hired transport manager:
        </td>
        <td>
          {{ data.transport_manager }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Read the rules
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Read rules:
        </td>
        <td>
          {{ data.read_rules }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>


<!-- Become a transport manager -->
{% if data.transport_manager=="no" %}

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Become a transport manager
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Hired a transport manager:
        </td>
        <td>
          {{ data.become_transport_manager }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

{% endif %}

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Tell the public about your application
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Advertise you plans to transport goods:
        </td>
        <td>
          {{ data.given_public_notice }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            List your vehicles
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Has vehicle details:
        </td>
        <td>
          {{ data.has_vehicles_already }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.has_vehicles_already=="no" %}
        </tr> 
          <td>
            When you'll have details:
          </td>
          <td>
            {{ data.vehicle_day }} {{ data.vehicle_month }} {{ data.vehicle_year }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      {% if data.has_vehicles_already=="yes" %}
        </tr> 
          <td>
            Vehicle 1:
          </td>
          <td>
            {{ data.reg_number }}
            {{ data.loaded_weight }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Address:
        </td>
        <td>
          {{ data.address_building }}<br>
          {{ data.address_street }}<br>
          {{ data.address_town }}<br>
          {{ data.address_postcode }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Look after your vehicles
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Hired mechanic:
        </td>
        <td>
          {{ data.has_mechanic }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Mechanic details:
        </td>
        <td>
          {{ data.mechanic_name }}<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Mechanic address:
        </td>
        <td>
          {{ data.mechanic_address_building }}<br>
          {{ data.mechanic_address_street}}<br>
          {{ data.mechanic_address_town }}<br>
          {{ data.mechanic_address_postcode }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          How regular is maintenance:
        </td>
        <td>
          Every {{ data.how_regularly_inspected }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Prove you have enough money
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Financial evidence:
        </td>
        <td>
          {{ data.uploaded_document }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Bankrupt ever:
        </td>
        <td>
          {{ data.bankrupt }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.bankrupt=="yes" %}
        <tr>
          <td>
            Information on bankruptcy
          </td>
          <td>
            {{ data.more_information_bankrupt }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Filed for insolvency:
        </td>
        <td>
          {{ data.insolvency }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.insolvency=="yes" %}
        <tr>
          <td>
            Information on insolvency
          </td>
          <td>
            {{ data.more_information_bankrupt }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Banned company director:
        </td>
        <td>
          {{ data.banned_director }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.banned_director=="yes" %}
        <tr>
          <td>
            Information on banned director
          </td>
          <td>
            {{ data.more_information_bankrupt }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

 <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            List convictions
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Any convictions:
        </td>
        <td>
          {{ data.crime }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.crime=="yes" %}
        <tr>
          <td>
            Crime details:
          </td>
          <td>
            {{ data.crime_name }}<br>
            Offence: {{ data.crime_offence }}<br>
            Penalty: {{ data.crime_penalty }}<br>
            Court: {{ data.crime_court }}<br>
            Date of conviction: {{ data.crime_day }} {{ data.crime_month }} {{ data.crime_year }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Court order to pay money:
        </td>
        <td>
          {{ data.compensation_order }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.compensation_order=="yes" %}
        <tr>
          <td>
            Court order details:
          </td>
          <td>
            {{ data.more_information_compensation_order }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

 <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your contact details
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Name:
        </td>
        <td>
          {{ data.applicant_name }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
      {% if data.user_type=="limited company" or data.user_type=="partnership" or data.user_type=="Limited Liability Partnership (LLP)" %}
        <tr>
          <td>
            Companies House number:
          </td>
          <td>
            {{ data.company_number }}
          </td>
          <td class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">Name</span>
            </a>
          </td>
        </tr>
      {% endif %}
      <tr>
        <td>
          Contact details:
        </td>
        <td>
          {{ data.applicant_address_building }}<br>
          {{ data.applicant_address_street }}<br>
          {{ data.applicant_address_town }}<br>
          {{ data.applicant_address_postcode }}<br>
          {{ data.applicant_phone }}<br>
          {{ data.applicant_email }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Contact details</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          How to contact:
        </td>
        <td>
          {{ data.contact_by }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">How to be contacted</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<!--   <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Paid application fee 
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Paid £257.00:
        </td>
        <td>
          {% if data.pay_application_fee %}
            yes
          {% endif %} 
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table> -->

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this application you're confirming that, as far as you know, the details you're providing are correct.
  </p>

  <div class="form-group">
    <a href="https://payment-prototype.herokuapp.com/tgl/tgl-choose-payment" class="button">Submit and continue to payment (£257.00)</a>
  </div>

</main>

{% endblock %}
