{% extends "transport_goods/layout.html" %} {% block page_title %} List convictions {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/transport_goods/task_list/convictions_penalties/crime{{formQuery}}" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          List convictions
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            List convictions
          </legend>

          <p class="lede">You need to declare any convictions or penalties you may have, as these will be considered as part of your application.</p>

          <p class="lede">Having past convictions and penalties may not prevent you from getting a licence.</p>

        </fieldset>

        <br>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}