{% extends "layout.html" %} {% block page_title %} Food {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/food" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Have all these people already had a criminal check?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Have all these people already a had check?
          </legend>

          <p>These criminal checks are called <a href="https://www.gov.uk/disclosure-barring-service-check/overview">DBS check</a> (previously CRB checks)</p>

          <div class="form-group">
            <label for="others_have_dbs-1" class="block-label">
              <input type="radio" id="others_have_dbs-1" name="others_have_dbs" value="yes">
              Yes
            </label>

            <label for="others_have_dbs-2" class="block-label">
              <input type="radio" id="others_have_dbs-2" name="others_have_dbs" value="no">
              No
            </label>

            <label for="others_have_dbs-3" class="block-label">
              <input type="radio" id="others_have_dbs-3" name="others_have_dbs" value="not_sure">
              Not sure
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
