{% extends "layout.html" %}
{% block page_title %} Task list {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

   <div id="">
      
  <div class="grid-row">

    <div class="column-two-thirds">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb">

          <p class="context">Overview</p>
          <h1>Learn to drive</h1>

        </header>

        <p class="">Complete the tasks below</p>

        <br>
      

    {{formData | safe}}

    </div>

  </div>

  <div class="grid-row">

    <div class="column-three-quarters">  

  <table>
    <thead>
      <tr>
        <th scope="col" id="col-task"></th>
        <th class="numeric" id="task-status" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>

      <!-- check eligibility -->
      <tr>
        <td class="task">
          <a href="/driving/questions/disability_medical">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check before you start</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.check_before_you_start=="complete" or data.shared_home=="no"  %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- Have eye test
      {% if data.read_from_20_meters=="no" %}
        <tr>
          <td class="task">
            <a href="/driving/task_list/have_eye_test{{formQuery}}">
              <span class="step-number" id="task-number"></span>
              <span class="task-name"> Have a eye test</span>
            </a>
          </td>
          <td class="numeric" id="task-status">          
            {% if data.have_eye_test=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      -->

      <!-- Give medical information -->
      {% if data.disability_medical %}
        <tr>
          <td class="task">
            <a href="/driving/task_list/give_medical_information{{formQuery}}">
              <span class="step-number" id="task-number"></span>
              <span class="task-name"> Give your medical information</span>
            </a>
          </td>
          <td class="numeric" id="task-status">
            {% if data.give_medical_information=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}

      <!-- Apply for provisional licence -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/apply_for_provisional{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Apply for your provisional licence</span>
          </a>
        </td>
        <td class="numeric" id="task-status">
          {% if data.apply_for_provisional=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      
      <!-- Get adapted car -->
      {% if data.disability_medical=="limb_problem" %}
        <tr>
          <td class="task">
            <a href="/driving/task_list/get_adapted_car{{formQuery}}">
              <span class="step-number" id="task-number"></span>
              <span class="task-name"> Get an adapted car</span>
            </a>
          </td>
          <td class="numeric" id="task-status">
            {% if data.get_adapted_car=="complete" %}
              {% include "includes/task_status_complete.html" %}
            {% endif %}
          </td>
        </tr>
      {% endif %}
      
      <!-- Insure your car-->
      {% if data.practing_in_own_car=="yes" %}
      <tr>
        <td class="task">
          <a href="/driving/task_list/insure_car{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Insure your car</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.insure_car=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      {% endif %}

      <!-- Read rules for practicing driving -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/practice_driving{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Practice driving</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.practice_driving=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- Find a driving instructor -->
      {% if data.driving_lessons=="yes" %}
      <tr>
        <td class="task">
          <a href="/driving/task_list/find_instructor{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Find a driving instructor</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.find_instructor=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      {% endif %}

      <!-- Book theory test -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/book_theory_test{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Book your theory test</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.book_theory_test=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      
      <!-- Revise for theory test -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/revise_for_theory_test{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Learn highway code</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.revise_for_theory_test=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      
      <!-- Take theory test -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/check_theory_test_details{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check your theory test details</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.check_theory_test_details=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- Take practical test -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/take_theory_test{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Take your theory test</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.take_theory_test=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      
      <!-- Retake theory test
      <tr>
        <td class="task">
          <a href="/driving/task_list/get_insured{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Retake theory test</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.get_insured=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      -->
      
      <!-- Book practical test -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/book_driving_test{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Book your driving test</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.book_driving_test=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      
      <!-- Check your driving test details -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/check_driving_test_details{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check your driving test details
            </span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.check_driving_test_details=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

      <!-- Take your driving test -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/take_driving_test{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Take your driving test</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.take_driving_test=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      
      <!-- Retake practical test
      <tr>
        <td class="task">
          <a href="/driving/task_list/get_insured{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Retake practical test</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.get_insured=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>
      -->
      
      <!-- Get licence -->
      <tr>
        <td class="task">
          <a href="/driving/task_list/get_full_licence{{formQuery}}">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Get full licence</span>
          </a>
        </td>
        <td class="numeric" id="task-status">          
          {% if data.get_full_licence=="complete" %}
            {% include "includes/task_status_complete.html" %}
          {% endif %}
        </td>
      </tr>

    </tbody>
  </table>


    </div>

<div class="column-quarter">

      <ul class="actions">
        <li class="bold"><a href="#">Print list</a></li>
      </ul>

      <br>

      <div class="meta-data">
        <p class="last-edited font-xsmall">Reference number:<br>
          <span class="bold-xsmall">HDJ2123F</span>
        </p>
        <p class="last-edited font-xsmall">Progress:<br>
          <span class="bold-xsmall"><span id="completed-steps"></span> of <span id="total-steps"></span> tasks completed</span>
        </p>
      </div>

    </div>

  </div>
    
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}