{% extends "transport_goods/layout.html" %} {% block page_title %} Driving lessons {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/transport_goods/task_list/check_before_you_start/carrying_passengers" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Will you operate any of these vehicles?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Will you operate any of these vehicles?
          </legend>

          <ul class="list list-bullet">
            <li>tractors or agricultural vehicles</li>
            <li>recovery vehicles</li>
            <li>emergency vehicles including utility companies</li>
            <li>snowploughs or road gritting vehicles</li>
            <li>military vehicles</li>
            <li>electric or steam vehicles</li>
            <li>hearses</li>
          </ul>

          <div class="form-group">

            <label for="exempt_vehicles_1" class="block-label">
              <input type="radio" id="exempt_vehicles_1" name="exempt_vehicles" value="yes">
              yes
            </label>

            <label for="exempt_vehicles_2" class="block-label">
              <input type="radio" id="exempt_vehicles_2" name="exempt_vehicles" value="no">
              no
            </label>

          <!-- 
            <label for="exmept_vehicles_1" class="block-label">
              <input type="checkbox" id="exmept_vehicles_1" name="exmept_vehicles" value="farm">
              tractors or agricultural vehicles
            </label>

            <label for="exmept_vehicles_2" class="block-label">
              <input type="checkbox" id="exmept_vehicles_2" name="exmept_vehicles" value="recovery">
              recovery vehicles
            </label>

            <label for="exmept_vehicles_3" class="block-label">
              <input type="checkbox" id="exmept_vehicles_3" name="exmept_vehicles" value="emergency">
              emergency vehicles including utility companies
            </label>

            <label for="exmept_vehicles_4" class="block-label">
              <input type="checkbox" id="exmept_vehicles_4" name="exmept_vehicles" value="snow">
              snowploughs or road gritting vehicles
            </label>

            <label for="exmept_vehicles_5" class="block-label">
              <input type="checkbox" id="exmept_vehicles_5" name="exmept_vehicles" value="military">
              military vehicles
            </label>

            <label for="exmept_vehicles_6" class="block-label">
              <input type="checkbox" id="exmept_vehicles_6" name="exmept_vehicles" value="electric">
              electric or steam vehicles
            </label>

            <label for="exmept_vehicles_7" class="block-label">
              <input type="checkbox" id="exmept_vehicles_7" name="exmept_vehicles" value="hearses">
              hearses
            </label>

            <p class="form-block">or</p>

            <label for="exmept_vehicles_8" class="block-label">
              <input type="checkbox" id="exmept_vehicles_8" name="exmept_vehicles" value="no">
              none of these vehicles
            </label>

          -->

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
