{% extends "driving/layout.html" %} {% block page_title %} Email and phone {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list" class="form">

      {{formData | safe}}

        <div class="govuk-box-highlight" style="background: #005EA5;">
          <h1 class="bold-large">We've sent you a link</h1>
          <p>
            Your reference number is <br>
            <strong class="heading-medium">1280880</strong>
          </p>
        </div>
        <p>We have sent a link to <span class="bold">{{ data.user_email }}</span> that allows you to return your information at any time.</p>

        <fieldset>
          <legend class="visuallyhidden">
            Email and phone
          </legend>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Return to your task list" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
