{% extends "bats/layout.html" %} {% block page_title %} Bat species {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/bat_details/number/total_bats" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          What types of bat does your work involve?
        </h1>

          <fieldset>

            <legend class="visuallyhidden">
              What types of bat does your work involve?
            </legend>

            <label class="block-label" for="bat_species-1">
              <input id="bat_species-1" type="checkbox" name="bat_species" value="alcathoe">
              Alcathoe bat
            </label>

            <label class="block-label" for="bat_species-2">
              <input id="bat_species-2" type="checkbox" name="bat_species" value="barbastelle">
              Barbastelle bat
            </label>

            <label class="block-label" for="bat_species-3">
              <input id="bat_species-3" type="checkbox" name="bat_species" value="bechsteins">
              Bechstein's bat
            </label>

            <label class="block-label" for="bat_species-4">
              <input id="bat_species-4" type="checkbox" name="bat_species" value="brandts">
              Brandt's bat
            </label>

            <label class="block-label" for="bat_species-5">
              <input id="bat_species-5" type="checkbox" name="bat_species" value="brown_long_eared">
              Brown long-eared bat
            </label>

            <label class="block-label" for="bat_species-6">
              <input id="bat_species-6" type="checkbox" name="bat_species" value="common_pipistrelle">
              Common pipistrelle bat
            </label>

            <label class="block-label" for="bat_species-7">
              <input id="bat_species-7" type="checkbox" name="bat_species" value="daubentons">
              Daubenton's bat
            </label>

            <label class="block-label" for="bat_species-8">
              <input id="bat_species-8" type="checkbox" name="bat_species" value="greater_horseshoe">
              Greater horseshoe bat
            </label>

            <label class="block-label" for="bat_species-9">
              <input id="bat_species-9" type="checkbox" name="bat_species" value="greater_mouse_eared">
              Greater mouse-eared bat
            </label>

            <label class="block-label" for="bat_species-10">
              <input id="bat_species-10" type="checkbox" name="bat_species" value="grey_long_eared">
              Grey long-eared bat
            </label>

            <label class="block-label" for="bat_species-11">
              <input id="bat_species-11" type="checkbox" name="bat_species" value="leislers">
              Leisler's bat
            </label>

            <label class="block-label" for="bat_species-12">
              <input id="bat_species-12" type="checkbox" name="bat_species" value="lesser_horseshoe">
              Lesser horseshoe bat
            </label>

            <label class="block-label" for="bat_species-13">
              <input id="bat_species-13" type="checkbox" name="bat_species" value="nathusius_pipistrelle">
              Nathusius' pipistrelle bat
            </label>

            <label class="block-label" for="bat_species-14">
              <input id="bat_species-14" type="checkbox" name="bat_species" value="natterers">
              Natterer's bat
            </label>

            <label class="block-label" for="bat_species-15">
              <input id="bat_species-15" type="checkbox" name="bat_species" value="noctule">
              Noctule bat
            </label>

            <label class="block-label" for="bat_species-16">
              <input id="bat_species-16" type="checkbox" name="bat_species" value="serotine">
              Serotine bat
            </label>

            <label class="block-label" for="bat_species-17">
              <input id="bat_species-17" type="checkbox" name="bat_species" value="soprano_pipistrelle">
              Soprano pipistrelle bat
            </label>

            <label class="block-label" for="bat_species-18">
              <input id="bat_species-18" type="checkbox" name="bat_species" value="whiskered">
              Whiskered bat
            </label>

            <label class="block-label" data-target="contact-by-text" for="bat_species-19">
              <input id="bat_species-19" type="checkbox" name="bat_species" value="not_on_list">
              Bat species not on list
            </label>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <label class="form-label" for="contact-text-message">Bat species name</label>
              <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
            </div>

          </fieldset>

          <br>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
