{% extends "layout_guidance.html" %}

{% block page_title %}
  Naming your service
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Pattern
      <br></span>Naming your service
      </h1>

      <p class="lede">
      Help users find and understand your service
      </p>

    <br>

    <p class="design-update">
    Last updated: 30 September 2016
    </h3>

    <br>
    <br>

  </div>
</div>

<div class="grid-row">
    <div class="column-one-third">

  <p class="bold">Page contents</p>

  <ol class="list list-bullet pattern_nav">
    <li><a href="#1">why service names are important</a></li>
    <li><a href="#2">when to name a service</a></li>
    <li><a href="#3">how to name your service</a></li>
    <li><a href="#4">examples</a></li>
    <li><a href="#5">checking the name</a></li>
  </ol>

  </div>

  <div class="column-two-thirds">

  <h3 class="heading-medium" id="1" style="margin-top: 0px;">Why service names are important</h3>

  <p>Naming your service is the most important decision your service team can have.</p>

  <p>It’s important because:</p>

  <ul class="list list-bullet">
    <li>it describes what your service does</li>
    <li>it defines whether users might want to use it</li>
    <li>it’s how users search for your service</li>
  </ul>

  <p>If you name your service well it should be:</p>

  <ul class="list list-bullet">
    <li>easier for users to find</li>
    <li>clearer for users to understand, for example, so you get fewer calls from users asking 'how do I...?'</li>
  </ul>

  <hr>

  <h3 class="heading-medium" id="2">When to name your service</h3>

  <p>You should aim to name your service by the end of the <a href="#">discovery</a> phase, when you:</p>

  <ul class="list list-bullet">
    <li>have defined the problem you’re trying to solve</li>
    <li>understand the context of the task your users are trying to do</li>
  </ul>

  <hr>

  <h3 class="heading-medium" id="3">How to name your service</h3>

  <p>Good service names:</p>

  <ul class="list list-bullet">
    <li>use the words users use</li>
    <li>are based on analytics and user research</li>
    <li>describe a task, not a technology</li>
    <li>don’t need to change when policy or technology changes</li>
    <li><a href="https://designnotes.blog.gov.uk/2015/06/22/good-services-are-verbs-2/">are verbs, not nouns</a></li>
    <li>don't have government department or agency names in them</li>
    <li>aren’t brand-driven or focused on marketing</li>
  </ul>

  <h4 class="heading-small">Problems with naming your service</h4>

  <p>If you’re having problems naming your service, it might be because you haven’t scoped your service is correctly.</p>
  
  <p>You might want to expand or reduce the scope of your service if there are many related services, for example if it’s a tax or grant service.</p>

  <hr>

  <h3 class="heading-medium" id="4">Examples</h3>

  <p>You can use service names that already exist as examples, including:</p>

  <ul class="list list-bullet">
    <li><a href="https://www.gov.uk/register-to-vote">Register to vote</a></li>
    <li><a href="https://www.gov.uk/get-help-with-court-fees">Get help with court fees</a></li>
    <li><a href="https://www.passport.service.gov.uk/renew/">Renew your passport</a></li>
    <li><a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship</a></li>
  </ul>

  <p>
    For example, before the Register to vote service was created, it was known internally as Individual Electoral Registration System.
  </p>

  <p>
    Help with court fees was previously called ‘Fee remission’. After doing research with users and court staff, the service team found the name was confusing people. This made the service was harder for users to understand and more expensive to deliver. 
  </p>

  <hr>

  <h3 class="heading-medium" id="5">Checking the name</h3>

  <h4 class="heading-small">User research and tests</h4>

  <p>
    You should user research and testing to check that the name of your service allows users to quickly recognise what it does.
  </p> 

  <p>
    You can try tree testing to see if users can navigate from a home page to your service, distinguishing your service from other related services.
  </p>

  <h4 class="heading-small">Talk to the GOV.UK content team</h4>

  <p>
    You should also talk to the GOV.UK content team about the words which users search for that are related to your service. 
  </p> 

  <p>
    They may be able to share research which helps you choose the right words to use naming your service. 
  </p>

  <!-- <h4 class="heading-small">Checking the name</h4>

  <p>You can combine these metrics to get an idea of how a service name is performing:</p>

  <ul class="list list-bullet">
    <li>increased page views from organic search</li>
    <li>click through rate to a 'Start' button</li>
    <li>external search volumes between old and new name</li>
    <li>reduce number of on page searches about the service</li>
    <li>number of users calling to ask "How do I...?"</li>
  </ul>

  -->

    </div>
  </div>

</main>

{% endblock %}


