{% extends "layout.html" %}

{% block page_title %}
  Start: transport goods
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Transport goods in lorries and vans
      </h1>

      <p>You can:</p>

      <ul class="list list-bullet">
        <li>check if you can apply to transport goods</li>
        <li>find out how much it costs to apply</li>
        <li>check what's involved in applying</li>
        <li>apply to transport goods in vans and lorries</li>
        <li>return to an application you've already started</li>
      </ul> 

      <p>Applying takes around 20 minutes.</p>

      <p>
        <a class="button button-start" href="/transport_goods/save_and_return/already_started" role="button">Apply now</a>
      </p>
      <p><a href="/transport_goods/save_and_return/already_started/check_your_email?already_started=yes">Return to an application</a> you've already started.</p>
      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="https://www.gov.uk/being-a-goods-vehicle-operator/apply-for-a-licence">apply by post.</a></p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>


    </div>
  </div>



</main>

{% endblock %}
