{% extends "layout.html" %}

{% block page_title %}
  Start: transport goods
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Transport goods 
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>apply to operate heavy vehicles to transport goods</li>
        <li>check eligiblity, cost and time before applying</li>
        <li>check what's involved to apply</li>
      </uL> 

      <p>Applying takes around 20 minutes.</p>

      <p>
        <a class="button button-start" href="/transport_goods/save_and_return/already_started" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">apply by post.</a></p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>You can’t apply for this service if you’re in the UK illegally.</p>

    </div>
  </div>



</main>

{% endblock %}
