{% extends "layout.html" %} {% block page_title %} Prepare for home inspection {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/childminder/task_list/{{ formQuery | safe }}">Become a childminder</a>
      </li>
      <li>
        Prepare for home inspection
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/childminder/task_list{{ formQuery | safe }}" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Prepare for home inspection
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Prepare for home inspection
          </legend>

          <p id="reason_for_task">An inspector from Ofsted will come to the place you work, to check they are suitable to care for children in.</p>

          <p>The inspection will include an interview.</p>

          <p>Tasks to get premises inspected:</p>

          <ol class="list list-number">
            <li><a href="https://www.gov.uk/government/publications/become-a-registered-early-years-or-childcare-provider-in-england">read how to prepare your premise for inspection</a></li>
            <li>prepare your premises for inspection</li>
            <li>get inspected</li>
            <li>recieve certificate of registration</li>
          </ol>

          <input type="hidden" name="get_premises_inspected" value="complete">

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Yes – my home is ready for inspection" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}