{% extends "bats/layout.html" %} {% block page_title %} Contact by {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list" class="form">

      {{formData | safe}}

        <!-- Private individual -->
        {% if data.who_should_be_contacted=="licence_holder" %}

        <h1 class="heading-large">
          How should we contact you?
        </h1>

        <!-- Private individual -->
        {% elif data.who_should_be_contacted=="ecologist" %}

        <h1 class="heading-large">
          How should we contact them?
        </h1>

        {% endif %}        

        <fieldset>
          <legend class="visuallyhidden">
            How should we contact them? 
          </legend>

          <div class="form-group">
            <label for="contact_by_1" class="block-label">
              <input type="radio" id="contact_by_1" name="contact_by" value="licence_holder">
              Email
            </label>

            <label for="contact_by_2" class="block-label">
              <input type="radio" id="contact_by_2" name="contact_by" value="licence_holder">
              Phone
            </label>

            <label for="contact_by_3" class="block-label">
              <input type="radio" id="contact_by_3" name="contact_by" value="ecologist">
              Post
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
