{% extends "layout.html" %} {% block page_title %} Food {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/questions/employment" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Will you be preparing food for children to eat? 
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Will you be preparing food for children to eat? 
          </legend>

          <div class="form-group">
            <label for="food-1" class="block-label">
              <input type="radio" id="food-1" name="food" value="yes">
              Yes
            </label>

            <label for="food-2" class="block-label">
              <input type="radio" id="food-2" name="food" value="no">
              No
            </label>

            <label for="food-2" class="block-label">
              <input type="radio" id="food-2" name="food" value="not_sure">
              Not sure
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
