{% extends "transport_goods/layout.html" %} {% block page_title %} Driving lessons {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/transport_goods/task_list#read_rules" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Read rules
        </h1>

        <fieldset>

          <legend class="visuallyhidden">
            Read rules
          </legend>

          <p class="">Check the rules, rights and responsibilities when it comes to transporting goods</p>

          <h3 class="heading-medium">You must:</h3>

          <ul class="list list-bullet">
            <li>get a specific licence for the type of goods you transport, for example food or animals</li>
            <li>keep full service history of each vehicle</li>
            <li>keep records of your drivers hours on the road</li>
            <li>keep financial records</li>
          </ul>

          <h3 class="heading-medium">You can't:</h3>

          <ul class="list list-bullet">
            <li>overload your vehicles</li>
            <li>use unroadworthy vehicles</li>
            <li>break the <a href="https://www.gov.uk/guidance/moving-dangerous-goods">rules on transporting dangerous goods</a></li>
            <li>go over <a href="https://www.gov.uk/drivers-hours">drivers’ hours regulations</a></li>
          </ul>



          <input type="hidden" name="read_rules" value="yes">

        </fieldset>

        <br>

        <div class="form-group">
          <input type="submit" class="button" value="I accept these rules">
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
