{% extends "driving/layout.html" %} {% block page_title %} Driving lessons {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/questions/driving_lessons" class="form">

      {{formData | safe}}

        <!-- if has disabililty ask are they 16 -->

        <h1 class="heading-large">
          Will you be practising driving in your own car?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Will you be practising driving in your own car?
          </legend>

          <div class="form-group">

            <label for="practing_in_own_car-1" class="block-label">
              <input type="radio" id="practing_in_own_car-1" name="practing_in_own_car" value="yes">
              Yes
            </label>

            <label for="practing_in_own_car-2" class="block-label">
              <input type="radio" id="practing_in_own_car-2" name="practing_in_own_car" value="no">
              No
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
