{% extends "layout_guidance.html" %}

{% block page_title %}
  Pattern: task lists
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="design-pattern">Pattern<br></span>
        Naming your service
      </h1>

      <p>
        Help users find and understand your service
      </p>

      <p>Prototypes:</p>

      <ul class="list list-bullet">
        <li><a href="/service_names">Draft guidance</a></li>
      </ul>

      <h1 class="heading-large">
        <span class="design-pattern">Pattern<br></span>
        Check before you start
      </h1>

      <p>
        Help users understand whether they can and should use a service
      </p>

      <p>Prototypes:</p>

      <ul class="list list-bullet">
        <li><a href="/start-page">Become a childminder</a></li>
        <li><a href="/driving/start-page">Learn to drive</a></li>
      </ul>

      <h1 class="heading-large">
        <span class="design-pattern">Pattern<br></span>
        Task list
      </h1>

      <p>
        Show users all the tasks involved to do something.
      </p>

      <p>Prototypes:</p>

      <ul class="list list-bullet">
        <li><a href="/task_list">Become a childminder</a></li>
        <li><a href="/driving/task_list/">Learn to drive</a></li>
        <li><a href="/bats/start-page">Move bats</a></li>
      </ul>

  </div>
</div>

</main>

{% endblock %}


