{% extends "layout_guidance.html" %}

{% block page_title %}
  Pattern: task lists
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Pattern
      <br></span>Task lists
      </h1>

      <p class="lede">
        Help users understand and complete all the tasks involved to do something.
      </p>

      <p class="lede">
        For example, become a childminder, learn to drive, start a business.
      </p>

      <p class="lede">Prototypes:</p>

      <ul class="list list-bullet">
        <li><a href="/task_list">Tasks from answering questions</a></li>
        <li><a href="/task_list/unordered">All the possible tasks</a></li>
        <li><a href="/get_information">Get information about a childminder</a></li>
        <li><a href="/guidance">Service Manual guidance</a></li>
      </ul>

  </div>
</div>

</main>

{% endblock %}


