{% extends "layout_guidance.html" %}

{% block page_title %}
  How do I do a thing?
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">"How do I do a thing?"</h1>
      
      <p>When users ask this question to government, the answer now is...it depends.</p>

      <p>Our team's hypothesis is these patterns and guidance can change that:</p>

      <h1 class="heading-large">
        <span class="design-pattern">Guide<br></span>
        Naming your service
      </h1>

      <p>
        Help users find and understand your service
      </p>

      <p>Guidance:</p>

      <ul class="list list-bullet">
        <li><a href="https://www.gov.uk/service-manual/design/naming-your-service">Service Manual</a></li>
        <li><a href="https://designpatterns.hackpad.com/Service-names-j9ICA0VXcM5">Hackpad</a></li>
      </ul>

      <h1 class="heading-large">
        <span class="design-pattern">Pattern<br></span>
        Check before you start
      </h1>

      <p>
        Help users understand whether they can and should use a service
      </p>

      <p>Prototypes:</p>

      <ul class="list list-bullet">
        <li><a href="/childminder/start-page-check">Check if you can become a childminder</a></li>
        <li><a href="/driving/start-page-check">Check before you learn to drive</a></li>
      </ul>

      <p>Guidance:</p>

      <ul class="list list-bullet">
        <li><a href="https://designpatterns.hackpad.com/Check-eligibility-cost-and-time-YkLUWCvJamG">Hackpad page</a></li>
      </ul>

      <h1 class="heading-large">
        <span class="design-pattern">Pattern<br></span>
        Task list
      </h1>

      <p>
        Show users all the tasks involved to do something.
      </p>

      <p>Prototypes:</p>

      <ul class="list list-bullet">
        <li><a href="/transport_goods/start-page">Transport goods</a></li>
<!--         <li><a href="/bats/task_list">Move bats</a></li> -->
        <li><a href="/childminder/task_list">Become a childminder</a></li>
        <li><a href="/driving/task_list/">Learn to drive</a></li>
      </ul>

      <p>Guidance:</p>

      <ul class="list list-bullet">
        <li><a href="https://designpatterns.hackpad.com/Organising-long-tasks-qAPtTmL1GJm#:h=Discussion">Hackpad page</a></li>
      </ul>

      <h1 class="heading-large">
        Code and past prototypes
      </h1>

      <p class="">
        <a href="https://github.com/alphagov/task_list">Code on GitHub</a>
      </p>

      <p>Past versions:</p>

      <table>
        <thead>
          <tr>
            <th scope="col">Prototype</th>
            <th class="numeric" scope="col">date</th>
            <th class="numeric" scope="col">code</th>
            <th class="numeric" scope="col">tested with</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://task-list-govuk-v3.herokuapp.com/">version 3</a></td>
            <td class="numeric">2 12 2016</td>
            <td class="numeric"><a href="https://github.com/alphagov/task_list/releases/tag/version-3">GitHub</a></td>
            <td class="numeric">6 users</td>
          </tr>
          <tr>
           <td><a href="https://task-list-govuk-v2.herokuapp.com/">version 2</a></td>
            <td class="numeric">21 11 2016</td>
            <td class="numeric"><a href="https://github.com/alphagov/task_list/releases/tag/version-2">GitHub</a></td>
            <td class="numeric">6 users</td>
          </tr>
          <tr>
           <td><a href="https://task-list-govuk-v1.herokuapp.com/">version 1</a></td>
            <td class="numeric">14 11 2016</td>
            <td class="numeric"><a href="https://github.com/alphagov/task_list/releases/tag/version-1">GitHub</a></td>
            <td class="numeric">9 users</td>
          </tr>
          <tr>
           <td><a href="https://check-before-you-start.herokuapp.com/start-page">version 0</a></td>
            <td class="numeric">12 7 2016</td>
            <td class="numeric"><a href="https://github.com/alphagov/check_before_you_start">GitHub</a></td>
            <td class="numeric">12 users</td>
          </tr>
        </tbody>
      </table>

  </div>
</div>

</main>

{% endblock %}

