{% extends "layout.html" %}
{% block page_title %} Task list {% endblock %}

{% block extra_css %}<link rel="stylesheet" href="/public/stylesheets/dm_list.css" />{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

   <div id="">
      
  <div class="grid-row">

    <div class="column-two-thirds">
      
        <header class="page-heading page-heading-with-context page-heading-without-breadcrumb"><p class="context">
              Overview
            </p><h1>
            Become a childminder
          </h1>
        </header>

        <p class="">Complete the tasks below</p>

        <br>
      

    {{formData | safe}}

    </div>

  </div>

  <div class="grid-row">

    <div class="column-three-quarters">  

  <table>
    <thead>
      <tr>
        <th scope="col" id="col-task"></th>
        <th class="numeric" scope="col" id="col-status"></th>
      </tr>
    </thead>
    <tbody>
      <!-- check eligibility -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check eligibility</span>
          </a>
        </td>
        </td>
        <td class="numeric">{% include "includes/task_status_complete.html" %}</td>
      </tr>
      <!-- read rules -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Read rules</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Check criminal history -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check criminal history</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Check others criminal history -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Check others criminal history</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Get health check -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Get health check</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Book first aid training -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Book first aid training</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Book childminder training -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Book childminder training</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Get references -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Get references</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Complete Ofsted application -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Complete Ofsted application</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Visit premises -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Visit premises</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Get insured -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Get insured</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
      <!-- Register as self employed -->
      <tr>
        <td class="task">
          <a href="#">
            <span class="step-number" id="task-number"></span>
            <span class="task-name"> Register as self employed</span>
          </a>
        </td>
        </td>
        <td class="numeric"></td>
      </tr>
    </tbody>
  </table>


    </div>

<div class="column-quarter">

      <ul class="actions">
        <li class="action"><a href="#">Save and complete later</a></li>
        <li class="action"><a href="#">Print task list</a></li>
        <li class="action"><a href="#">Delete task list</a></li>
      </ul>

      <div class="meta-data">
        <p class="last-edited font-xsmall">Application number<br>
          <span class="bold-xsmall">1280880</span>
        </p>
        <p class="last-edited font-xsmall">Created on<br>
          <span class="bold-xsmall">25 July 2015</span>
        </p>
        <p class="last-edited font-xsmall">Status<br>
          <span class="bold-xsmall">1 of 12 sections completed</span>
        </p>
      </div>

    </div>

  </div>

  <!-- bottom of list -->

  <!--
      <div class="grid-row">
       <div class="column-two-thirds">
         
          <p>
            <a class="button button-start" href="#" role="button">Apply now</a>
          </p>
         
       </div>
     </div>
  --> 
    
  </div>

</main>
{% endblock %}
{% block extra_js_1 %}<!-- ticky list javascript one -->{% endblock %}
{% block extra_js_2 %}<!-- ticky list javascript two -->{% endblock %}