{% extends "bats/layout.html" %} {% block page_title %} Date {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          When will this work happen? 
        </h1>

          <fieldset>
          <legend class="visuallyhidden">
            Start date 
          </legend>

          <div class="form-date">

            <p class="form-hint">
              <span class="bold-date">
                Start date
              </span><br> 
              For example, 31 3 2017
            </p>

            <div class="form-group form-group-day">
              <label for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
            </div>

          </div>

        </fieldset>

        <br>

      </form>

      <form method="get" action="/bats/task_list" class="form">

      {{formData | safe}}

        <fieldset>
          <legend class="visuallyhidden">
            End date 
          </legend>

          <div class="form-date">

            <p class="form-hint">
              <span class="bold-date">
                End date
              </span><br> 
              For example, 11 4 2017  
            </p>

            <div class="form-group form-group-day">
              <label for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
            </div>

          </div>

        </fieldset>

          <br>
        
        <!-- adds 'Complete' label to 'Bat details' task in /bats/task-list page -->
        <input type="hidden" name="bat_details" value="complete">

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
