{% extends "transport_goods/layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <p>You'll get a confirmation email with your reference number in it.</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>The Driver and Vehicle Standards Agency (DVSA) will contact you to confirm your licence, or to ask for more information.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

</main>

{% endblock %}
