{% extends "layout.html" %} {% block page_title %} Name and address {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/bats/task_list/contact_details/email_phone" class="form">

      {{formData | safe}}
        
        <!-- Private individual -->
        {% if data.user_type=="private_individual" %}

        <h1 class="heading-large">
          Personal details
        </h1>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Name and address
          </legend>

          <div class="form-group">
            <label class="form-label" for="applicant-name">Name</label>
            <input class="form-control" id="applicant-name" name="applicant-name" type="text">
          </div>

          <h3 class="heading-medium">
            Home address
          </h3>

          <div class="form-group">
            <label class="form-label" for="applicant_address_building">Building and street</label>
            <input class="form-control" id="applicant_address_building" name="applicant_address_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="applicant_address_street" name="applicant_address_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_town">Town or city</label>
            <input class="form-control" id="applicant_address_town" name="applicant_address_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_country">Country (optional)</label>
            <input class="form-control" id="applicant_address_country" name="applicant_address_country" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="applicant_address_postcode" name="applicant_address_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        {% endif %}
        
        <!-- Business -->
        {% if data.user_type=="business" %}

        <h1 class="heading-large">
          Company details
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Company details
          </legend>

          <br>

          <div class="form-group">
            <label class="form-label" for="applicant-name">Company name</label>
            <input class="form-control" id="applicant-name" name="applicant-name" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="company-number">Companies House number</label>
            <input class="form-control" id="company-number" name="company-number" type="text">
          </div>

          <h3 class="heading-medium">
            Address
          </h3>

          <div class="form-group">
            <label class="form-label" for="applicant_address_building">Building and street</label>
            <input class="form-control" id="applicant_address_building" name="applicant_address_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="applicant_address_street" name="applicant_address_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_town">Town or city</label>
            <input class="form-control" id="applicant_address_town" name="applicant_address_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_country">Country (optional)</label>
            <input class="form-control" id="applicant_address_country" name="applicant_address_country" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="applicant_address_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="applicant_address_postcode" name="applicant_address_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        {% endif %}

        <!-- Charity -->
        {% if data.user_type=="charity" %}

        <h1 class="heading-large">
          Charity details
        </h1>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Charity details
          </legend>

          <div class="form-group">
            <label class="form-label" for="applicant-name">Charity name</label>
            <input class="form-control" id="applicant-name" name="applicant-name" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="charity_number">Registered Charity Number</label>
            <input class="form-control" id="charity_number" name="charity_number" type="text">
          </div>

          <h3 class="heading-medium">
            Address
          </h3>

          <div class="form-group">
            <label class="form-label" for="applicant_address_building">Building and street</label>
            <input class="form-control" id="applicant_address_building" name="applicant_address_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="applicant_address_street" name="applicant_address_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_town">Town or city</label>
            <input class="form-control" id="applicant_address_town" name="applicant_address_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_country">Country (optional)</label>
            <input class="form-control" id="applicant_address_country" name="applicant_address_country" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="applicant_address_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="applicant_address_postcode" name="applicant_address_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        {% endif %}

        <!-- Volunteer organisation -->
        {% if data.user_type=="volunteer" %}

        <h1 class="heading-large">
          Organisation details
        </h1>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Name and address
          </legend>

          <div class="form-group">
            <label class="form-label" for="applicant-name">Organisation name</label>
            <input class="form-control" id="applicant-name" name="applicant-name" type="text">
          </div>

          <h3 class="heading-medium">
            Address
          </h3>

          <div class="form-group">
            <label class="form-label" for="applicant_address_building">Building and street</label>
            <input class="form-control" id="applicant_address_building" name="applicant_address_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="applicant_address_street" name="applicant_address_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_town">Town or city</label>
            <input class="form-control" id="applicant_address_town" name="applicant_address_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_country">Country (optional)</label>
            <input class="form-control" id="applicant_address_country" name="applicant_address_country" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="applicant_address_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="applicant_address_postcode" name="applicant_address_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        {% endif %}

        <!-- Government Agency -->
        {% if data.user_type=="central_gov" %}

        <h1 class="heading-large">
          Government agency details
        </h1>

        <br>        

        <fieldset>
          <legend class="visuallyhidden">
            Name and address
          </legend>

          <div class="form-group">
            <label class="form-label" for="applicant-name">Government agency name</label>
            <input class="form-control" id="applicant-name" name="applicant-name" type="text">
          </div>

          <h3 class="heading-medium">
            Address
          </h3>

          <div class="form-group">
            <label class="form-label" for="applicant_address_building">Building and street</label>
            <input class="form-control" id="applicant_address_building" name="applicant_address_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="applicant_address_street" name="applicant_address_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_town">Town or city</label>
            <input class="form-control" id="applicant_address_town" name="applicant_address_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_country">Country (optional)</label>
            <input class="form-control" id="applicant_address_country" name="applicant_address_country" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="applicant_address_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="applicant_address_postcode" name="applicant_address_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        {% endif %}

        <!-- Local authority -->
        {% if data.user_type=="local_gov" %}

        <h1 class="heading-large">
          Local authority details
        </h1>

        <br>

        <fieldset>
          <legend class="visuallyhidden">
            Name and address
          </legend>

          <br>

          <div class="form-group">
            <label class="form-label" for="applicant-name">Local authority name</label>
            <input class="form-control" id="applicant-name" name="applicant-name" type="text">
          </div>

          <h3 class="heading-medium">
            Address
          </h3>

          <div class="form-group">
            <label class="form-label" for="applicant_address_building">Building and street</label>
            <input class="form-control" id="applicant_address_building" name="applicant_address_building" type="text">
            <br>
            <br>
            <input class="form-control"" id="applicant_address_street" name="applicant_address_street" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_town">Town or city</label>
            <input class="form-control" id="applicant_address_town" name="applicant_address_town" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="applicant_address_country">Country (optional)</label>
            <input class="form-control" id="applicant_address_country" name="applicant_address_country" type="text">
          </div>

          <div class="form-group">
            <label class="form-label" for="applicant_address_postcode">Postcode</label>
            <input class="form-control form-control-1-4" id="applicant_address_postcode" name="applicant_address_postcode" type="text">
          </div>

          <br>
          <br>

        </fieldset>

        {% endif %}

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
