{% extends "transport_goods/layout.html" %} {% block page_title %} Driving lessons {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/transport_goods/task_list/check_before_you_start/licence_type/just_your_goods" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          How far will your vehicles be driven on public roads?
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            How far will your vehicles be driven on public roads?
          </legend>

          <div class="form-group">
            <label for="six_miles_a_week_1" class="block-label">
              <input type="radio" id="six_miles_a_week_1" name="six_miles_a_week" value="yes">
              6 miles or less
            </label>

            <label for="six_miles_a_week_2" class="block-label">
              <input type="radio" id="six_miles_a_week_2" name="six_miles_a_week" value="no">
              More than 6 miles
            </label>

          </div>

        </fieldset>

        <div class="form-group">
          <input type="submit" class="button" value="Continue" />
        </div>

      </form>

    </div>
  </div>

</main>
{% endblock %}
