{% extends "layout.html" %} {% block page_title %} Get adapted car {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/driving/task_list">Learn to drive</a>
      </li>
      <li>
        Revise for theory test
      </li> 
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="get" action="/driving/task_list/" class="form">

      {{formData | safe}}

        <h1 class="heading-large">
          Revise for theory test
        </h1>

        <fieldset>
          <legend class="visuallyhidden">
            Revise for theory test
          </legend>

          <p id="reason_for_task">
            To pass your theory test you must learn the <a href="https://www.gov.uk/guidance/the-highway-code">Highway code</a>.
          </p>

          <input type="hidden" name="get_adapted_car" value="complete">

        </fieldset>

        <!--

        <div class="form-group">
          <input type="submit" class="button" value="Task complete" />
        </div>

        -->

      </form>

    </div>
  </div>

</main>
{% endblock %}